body {
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
  }
  
  header {
    width: 100%;
    height: 15vh;
    background-color: gray;
  }
  
  main {
    background-color: whitesmoke;
    margin: 0 auto;
    width: 75%;
    height: 70vh;
  }
  
  footer { 
    background-color:black;
    margin: 0 auto;
    width: 75%;
    height: 15vh;
  }